
:root {
    font-size: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    --primary-color: #FFFBF3;
    --small-font: 1.25rem;
    --medium-font: 1.75rem;
    --large-font: 3rem;
  }

body {
    min-height: 70vh;
    margin-top: 10rem;
    background-color: var(--primary-color);
  }
  
  #logo {
    display: block;
    margin: 0 auto;
    width: 85vw;
    max-width: 50rem;
  }
  
  .container {
    position: relative;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
  }
  
  .menu-btn__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    position: relative;
    top: -1rem;
    left: -1rem;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: .3rem;
    background-color: #3c3c3c;
    transition: transform 0.3s ease;
    left: 0;
  }
  
  .menu-btn__burger::before {
    top: 0.5rem;
  }
  
  
  nav {
    position: fixed;
    top: 0;
    left: -16rem;
    width: 16rem;
    height: 100%;
    background-color: #deb65ed4;
    transition: left 0.3s ease;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: start;
    padding-top: 6rem;
    margin-left: 1.5rem;
  }
  
  nav ul li {
    margin-bottom: 2rem;
  }
  
  nav ul li a {
    color: #3c3c3c;
    text-decoration: none;
    font-size: var(--medium-font);
  }
  
  input[type="checkbox"]:checked + .menu-btn .menu-btn__burger {
    transform: rotate(45deg);
    background-color: transparent;
  }
  
  input[type="checkbox"]:checked + .menu-btn .menu-btn__burger::before {
    transform: translateY(5.5px) rotate(-360deg);
  }
  
  input[type="checkbox"]:checked + .menu-btn .menu-btn__burger::after {
    transform: translateY(-3px) rotate(450deg);
  }
  
  input[type="checkbox"]:checked ~ nav {
    left: 0;
  }
  
  i {
    margin-right: 1rem;
  }
  
  form {
    text-align: center;
    margin-top: 2rem;
  }

  .bar {
    display: flex;
    align-items: center;
    width: 17.5rem;
    height: 3rem;
    border-radius:3rem;
    border:1px solid #dcdcdc;
    justify-content: space-around;
    margin: auto;
  }

  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }

  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }

  #search{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 500;
    font-style: italic;
    height:2rem;
    border:none;
    width:12rem;
    outline: none;
  }

  #searchIcon {
    width: 2rem;
  }

